<div class="user">
      <img src=<%=@user.photo%> alt="User image" height="150" width="150" >
      <div class="user_details">
        <h3><%= @user.name %></h3>
        <p>Number of posts: <%=@user.post_counter%>
        <%= Link_to "Add a post", new_user_post_path(@user) %>
      </div>
</div>

<%@posts.each do |post|%>
  <%= Link_to user_post_path(user_id: post.author_id, id: post.id) do %>
    <div class="userPost">
      <h3>Post #<%=post.id%></h3>
      <p><%=post.text%></p>

      <div class="post_likes_comments">
        <p>Comments: <%=post.comment_counter%></p>
        <p>Likes: <%=post.likes_counter%></p>
      </div>
    </div>
    <div class="postcomments">
      <% post.recent_comments.each do |comment| %> 
          <p><%= comment.author.name %> : <%= comment.text %> </p>
      <% end %>
    </div>
  <% end %>
<%end%>

<div class="see allposts">
  <button type="button">Pagination</button>
</div>